<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://github.com/Shadowgar/TizenGo2RTCCameraViewer" version="2.0.0" viewmodes="maximized">
    <tizen:application id="qe1xb4aO2T.Go2RTCCameraViewer" package="qe1xb4aO2T" required_version="5.5"/>
    <author href="https://github.com/Shadowgar/TizenGo2RTCCameraViewer" email="rocco.paul@gmail.com">Paul Rocco</author>
    <content src="index.html"/>
    <description>Samsung Tizen TV 4-camera live viewer using camera-bridge and AVPlay HLS playback.</description>
    <name>Tizen Camera Viewer</name>
    <icon src="icon.png"/>

    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/tv.input.remote"/>

    <access origin="*" subdomains="true"/>
    <tizen:allow-navigation>*</tizen:allow-navigation>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
